/* navbar.css */

body, nav {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97;
  background-color: #253D68;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

.gatorfly {
  font-size: 2vw;
  font-weight: bold;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}



  